<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Your application logs -->
        <Logger name="pl.epsilondeltalimit" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Spark logs -->
        <Logger name="org.apache.spark" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Other framework logs -->
        <Logger name="org.apache.hadoop" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="io.netty" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>